In [4]:
from Bio.PDB import PDBParser, NeighborSearch
from Bio.PDB.Polypeptide import is_aa
import pandas as pd

In [5]:
def find_contacts(pdb_file, chain1_id="A", chain2_id="B", distance_cutoff=5.0):
    parser = PDBParser(QUIET=True)
    structure = parser.get_structure("complex", pdb_file)
    model = structure[0]

    chain1_atoms = [atom for res in model[chain1_id] if is_aa(res) for atom in res]
    chain2_atoms = [atom for res in model[chain2_id] if is_aa(res) for atom in res]

    ns = NeighborSearch(chain2_atoms)

    chain1_contacts = set()
    chain2_contacts = set()

    for atom in chain1_atoms:
        neighbors = ns.search(atom.coord, distance_cutoff)
        for neighbor in neighbors:
            res1 = atom.get_parent()
            res2 = neighbor.get_parent()
            if res1 != res2:
                chain1_contacts.add((res1.get_resname(), res1.get_id()[1]))
                chain2_contacts.add((res2.get_resname(), res2.get_id()[1]))

    return sorted(chain1_contacts, key=lambda x: x[1]), sorted(chain2_contacts, key=lambda x: x[1])

In [6]:
import pandas as pd

def format_contacts_as_dataframe(chain1_contacts, chain2_contacts, chain1_id="A", chain2_id="B"):
    # sets to sorted lists
    sorted_a = sorted(chain1_contacts, key=lambda x: x[1])
    sorted_b = sorted(chain2_contacts, key=lambda x: x[1])

    max_len = max(len(sorted_a), len(sorted_b))
    sorted_a += [("", "")] * (max_len - len(sorted_a))
    sorted_b += [("", "")] * (max_len - len(sorted_b))

    # merge into a dataframe
    df = pd.DataFrame({
        f"Chain {chain1_id} Residue": [res[0] for res in sorted_a],
        f"Chain {chain1_id} Position": [res[1] for res in sorted_a],
        f"Chain {chain2_id} Residue": [res[0] for res in sorted_b],
        f"Chain {chain2_id} Position": [res[1] for res in sorted_b],
    })

    return df

In [7]:
# put the path to your pdb file here 
pdb_path = "/Users/jriya/Desktop/vldlrex2to14_fullreelin_4ca.pdb"
chainA_res, chainB_res = find_contacts(pdb_path, chain1_id="A", chain2_id="B", distance_cutoff=3.5)

df_contacts = format_contacts_as_dataframe(chainA_res, chainB_res, "A", "B")
df_contacts

   Chain A Residue  Chain A Position Chain B Residue Chain B Position
0              ASP                27             GLU               29
1              GLU                28             THR               57
2              GLN                55             ARG              139
3              TRP                61             HIS              931
4              ASP                68             LEU              937
..             ...               ...             ...              ...
56             THR               553
57             LEU               554
58             ASN               556
59             ASN               557
60             LEU               570

[61 rows x 4 columns]

In [8]:
# Step 1: Define exon coordinates
exon_coords = {
    1:  (1, 28),
    2:  (29, 68),
    3:  (69, 109),
    4:  (110, 150),
    5:  (151, 274),
    6:  (275, 315),
    7:  (316, 356),
    8:  (357, 396),
    9:  (397, 438),
    10: (439, 495),
    11: (496, 568),
    12: (569, 608),
    13: (609, 654),
    14: (655, 702),
    15: (703, 751),
    16: (752, 779),
    17: (780, 806),
    18: (807, 862),
    19: (863, 873)
}

# Step 2: Specify selected exons used in the spliced construct
selected_exons = [2, 3,4,5,6, 7,8,9,10,11,12,13,14]

# Step 3: Build mapping from PDB position → full position and exon
pdb_to_full = {}
pdb_to_spliced = {}
pdb_to_exon = {}
spliced_pos = 1
pdb_pos = 1

for exon in selected_exons:
    start, end = exon_coords[exon]
    for full_pos in range(start, end + 1):
        pdb_to_full[pdb_pos] = full_pos
        pdb_to_spliced[pdb_pos] = spliced_pos
        pdb_to_exon[pdb_pos] = exon
        spliced_pos += 1
        pdb_pos += 1

# Step 4: Identify Chain A columns dynamically
chain_cols = [col for col in df_contacts.columns if "Chain" in col and "Position" in col]
residue_cols = [col for col in df_contacts.columns if "Chain" in col and "Residue" in col]
chain_to_map = chain_cols[0]  # Chain A Position
residue_col = residue_cols[0]  # Chain A Residue
other_cols = [col for col in df_contacts.columns if col not in [chain_to_map, residue_col]]

# Step 5: Clean and map
df_clean = df_contacts.copy()
df_clean = df_clean[df_clean[chain_to_map].apply(lambda x: str(x).isdigit())]
df_clean[chain_to_map] = df_clean[chain_to_map].astype(int)

df_clean["Full Sequence Position"] = df_clean[chain_to_map].map(pdb_to_full)
df_clean["Spliced Position"] = df_clean[chain_to_map].map(pdb_to_spliced)
df_clean["Exon"] = df_clean[chain_to_map].map(pdb_to_exon)

# Step 6: Final cleaned and sorted output
df_contacts_mapped = df_clean.dropna(subset=["Spliced Position"])
df_contacts_mapped = df_contacts_mapped.sort_values("Spliced Position")

# Reorder columns to show main mapping info first
output_cols = [residue_col, chain_to_map, "Full Sequence Position", "Spliced Position", "Exon"] + other_cols
df_contacts_mapped = df_contacts_mapped[output_cols]

In [12]:
df_contacts_mapped

,Chain A Residue,Chain A Position,Full Sequence Position,Spliced Position,Exon,Chain B Residue,Chain B Position
0,ASP,27,55,27,2,GLU,29
1,GLU,28,56,28,2,THR,57
2,GLN,55,83,55,3,ARG,139
3,TRP,61,89,61,3,HIS,931
4,ASP,68,96,68,3,LEU,937
...,...,...,...,...,...,...,...
56,THR,553,581,553,12,,
57,LEU,554,582,554,12,,
58,ASN,556,584,556,12,,
59,ASN,557,585,557,12,,
60,LEU,570,598,570,12,,

In [14]:
with pd.option_context('display.max_rows', 100):  # Set to a value >= 61
    display(df_contacts_mapped.head(61))

,Chain A Residue,Chain A Position,Full Sequence Position,Spliced Position,Exon,Chain B Residue,Chain B Position
0,ASP,27,55,27,2,GLU,29
1,GLU,28,56,28,2,THR,57
2,GLN,55,83,55,3,ARG,139
3,TRP,61,89,61,3,HIS,931
4,ASP,68,96,68,3,LEU,937
5,GLU,70,98,70,3,GLU,941
6,ILE,87,115,87,4,ARG,983
7,GLN,98,126,98,4,TYR,990
8,TRP,104,132,104,4,ASP,1122
9,ASP,107,135,107,4,GLU,1126
10,GLY,108,136,108,4,VAL,1178
11,GLU,109,137,109,4,PHE,1179
12,ASP,113,141,113,4,GLU,2934
13,ARG,137,165,137,5,ASN,2935
14,CYS,138,166,138,5,ARG,2942
15,ILE,139,167,139,5,LYS,2972
16,ASN,142,170,142,5,ILE,2974
17,PHE,143,171,143,5,SER,2975
18,ASP,150,178,150,5,GLU,3040
19,CYS,151,179,151,5,VAL,3055
20,SER,152,180,152,5,ARG,3056
21,GLY,166,194,166,5,THR,3057
22,GLU,169,197,169,5,ALA,3058
23,SER,176,204,176,5,PHE,3066
24,CYS,177,205,177,5,TYR,3069
25,ILE,178,206,178,5,PRO,3071
26,PRO,179,207,179,5,LYS,3073
27,TRP,182,210,182,5,PHE,3147
28,ASP,185,213,185,5,ILE,3223
29,ASP,187,215,187,5,CYS,3224
30,ASP,189,217,189,5,ASP,3225
31,ASP,318,346,318,7,GLU,3226
32,TRP,319,347,319,7,GLN,3229
33,GLU,322,350,322,7,ARG,3301
34,PRO,323,351,323,7,TYR,3365
35,LEU,324,352,324,7,ASN,3366
36,LYS,325,353,325,7,PRO,3368
37,HIS,328,356,328,7,LEU,3369
38,LEU,333,361,333,8,GLU,3370
39,VAL,334,362,334,8,VAL,3403
40,ASN,335,363,335,8,ARG,3406
41,HIS,341,369,341,8,LYS,3407
42,TRP,448,476,448,10,ASN,3409
43,ASP,471,499,471,11,TYR,3410
44,TRP,474,502,474,11,MET,3411
45,ASN,476,504,476,11,ASN,3413
46,HIS,495,523,495,11,PHE,3414
47,GLU,515,543,515,11,SER,3415
48,HIS,519,547,519,11,ARG,3416
49,GLU,527,555,527,11,GLN,3417
50,GLY,535,563,535,11,HIS,3418
51,GLU,536,564,536,11,GLY,3419
52,ASN,537,565,537,11,LEU,3420
53,GLU,538,566,538,11,HIS,3422
54,TYR,541,569,541,12,PHE,3423
55,ALA,552,580,552,12,ARG,3428
56,THR,553,581,553,12,,
57,LEU,554,582,554,12,,
58,ASN,556,584,556,12,,
59,ASN,557,585,557,12,,
60,LEU,570,598,570,12,,