In [1]:
from Bio.PDB import PDBParser, NeighborSearch
from Bio.PDB.Polypeptide import is_aa
import pandas as pd

In [2]:
def find_contacts(pdb_file, chain1_id="A", chain2_id="B", distance_cutoff=5.0):
    parser = PDBParser(QUIET=True)
    structure = parser.get_structure("complex", pdb_file)
    model = structure[0]

    chain1_atoms = [atom for res in model[chain1_id] if is_aa(res) for atom in res]
    chain2_atoms = [atom for res in model[chain2_id] if is_aa(res) for atom in res]

    ns = NeighborSearch(chain2_atoms)

    chain1_contacts = set()
    chain2_contacts = set()

    for atom in chain1_atoms:
        neighbors = ns.search(atom.coord, distance_cutoff)
        for neighbor in neighbors:
            res1 = atom.get_parent()
            res2 = neighbor.get_parent()
            if res1 != res2:
                chain1_contacts.add((res1.get_resname(), res1.get_id()[1]))
                chain2_contacts.add((res2.get_resname(), res2.get_id()[1]))

    return sorted(chain1_contacts, key=lambda x: x[1]), sorted(chain2_contacts, key=lambda x: x[1])

In [3]:
import pandas as pd

def format_contacts_as_dataframe(chain1_contacts, chain2_contacts, chain1_id="A", chain2_id="B"):
    # sets to sorted lists
    sorted_a = sorted(chain1_contacts, key=lambda x: x[1])
    sorted_b = sorted(chain2_contacts, key=lambda x: x[1])

    max_len = max(len(sorted_a), len(sorted_b))
    sorted_a += [("", "")] * (max_len - len(sorted_a))
    sorted_b += [("", "")] * (max_len - len(sorted_b))

    # merge into a dataframe
    df = pd.DataFrame({
        f"Chain {chain1_id} Residue": [res[0] for res in sorted_a],
        f"Chain {chain1_id} Position": [res[1] for res in sorted_a],
        f"Chain {chain2_id} Residue": [res[0] for res in sorted_b],
        f"Chain {chain2_id} Position": [res[1] for res in sorted_b],
    })

    return df

In [4]:
# put the path to your pdb file here 
pdb_path = "/Users/jriya/Desktop/ldlrex2to13_fullreelin_4ca.pdb"
chainA_res, chainB_res = find_contacts(pdb_path, chain1_id="A", chain2_id="B", distance_cutoff=3.5)

df_contacts = format_contacts_as_dataframe(chainA_res, chainB_res, "A", "B")
df_contacts

   Chain A Residue  Chain A Position Chain B Residue Chain B Position
0              LYS                21             PRO               10
1              TRP                22             PHE               11
2              GLU                29             PHE               13
3              PRO               130             VAL              103
4              THR               139             VAL              108
..             ...               ...             ...              ...
57             ILE               611
58             ILE               612
59             ASN               613
60             GLU               614
61             GLU               638

[62 rows x 4 columns]

In [5]:
# Step 1: Define exon coordinates
exon_coords = {
    1:  (1, 23),
    2:  (23, 64),
    3:  (64, 105),
    4:  (105, 232),
    5:  (232, 273),
    6:  (273, 314),
    7:  (314, 354),
    8:  (354, 396),
    9:  (396, 453),
    10: (453, 529),
    11: (529, 569),
    12: (569, 615),
    13: (616, 663),
    14: (663, 714),
    15: (714, 771),
    16: (771, 797),
    17: (797, 849),
    18: (850, 860)
}

# Step 2: Specify selected exons used in the spliced construct
selected_exons = [2,3,4,5,6,7,8,9,10,11,12,13]

# Step 3: Build mapping from PDB position → full position and exon
pdb_to_full = {}
pdb_to_spliced = {}
pdb_to_exon = {}
spliced_pos = 1
pdb_pos = 1

for exon in selected_exons:
    start, end = exon_coords[exon]
    for full_pos in range(start, end + 1):
        pdb_to_full[pdb_pos] = full_pos
        pdb_to_spliced[pdb_pos] = spliced_pos
        pdb_to_exon[pdb_pos] = exon
        spliced_pos += 1
        pdb_pos += 1

# Step 4: Identify Chain A columns dynamically
chain_cols = [col for col in df_contacts.columns if "Chain" in col and "Position" in col]
residue_cols = [col for col in df_contacts.columns if "Chain" in col and "Residue" in col]
chain_to_map = chain_cols[0]  # Chain A Position
residue_col = residue_cols[0]  # Chain A Residue
other_cols = [col for col in df_contacts.columns if col not in [chain_to_map, residue_col]]

# Step 5: Clean and map
df_clean = df_contacts.copy()
df_clean = df_clean[df_clean[chain_to_map].apply(lambda x: str(x).isdigit())]
df_clean[chain_to_map] = df_clean[chain_to_map].astype(int)

df_clean["Full Sequence Position"] = df_clean[chain_to_map].map(pdb_to_full)
df_clean["Spliced Position"] = df_clean[chain_to_map].map(pdb_to_spliced)
df_clean["Exon"] = df_clean[chain_to_map].map(pdb_to_exon)

# Step 6: Final cleaned and sorted output
df_contacts_mapped = df_clean.dropna(subset=["Spliced Position"])
df_contacts_mapped = df_contacts_mapped.sort_values("Spliced Position")

# Reorder columns to show main mapping info first
output_cols = [residue_col, chain_to_map, "Full Sequence Position", "Spliced Position", "Exon"] + other_cols
df_contacts_mapped = df_contacts_mapped[output_cols]

In [6]:
df_contacts_mapped

,Chain A Residue,Chain A Position,Full Sequence Position,Spliced Position,Exon,Chain B Residue,Chain B Position
0,LYS,21,43,21,2,PRO,10
1,TRP,22,44,22,2,PHE,11
2,GLU,29,51,29,2,PHE,13
3,PRO,130,150,130,4,VAL,103
4,THR,139,159,139,4,VAL,108
...,...,...,...,...,...,...,...
57,ILE,611,623,611,13,,
58,ILE,612,624,612,13,,
59,ASN,613,625,613,13,,
60,GLU,614,626,614,13,,
61,GLU,638,650,638,13,,

In [7]:
with pd.option_context('display.max_rows', 100):  # Set to a value >= 61
    display(df_contacts_mapped.head(61))

,Chain A Residue,Chain A Position,Full Sequence Position,Spliced Position,Exon,Chain B Residue,Chain B Position
0,LYS,21,43,21,2,PRO,10
1,TRP,22,44,22,2,PHE,11
2,GLU,29,51,29,2,PHE,13
3,PRO,130,150,130,4,VAL,103
4,THR,139,159,139,4,VAL,108
5,CYS,140,160,140,4,SER,696
6,ILE,141,161,141,4,THR,849
7,GLN,143,163,143,4,ASN,850
8,LEU,144,164,144,4,LEU,851
9,TRP,145,165,145,4,VAL,852
10,ASP,148,168,148,4,THR,855
11,ASP,150,170,150,4,GLN,856
12,ASP,152,172,152,4,TYR,861
13,CYS,153,173,153,4,VAL,865
14,GLU,154,174,154,4,GLN,866
15,ARG,165,185,165,4,PRO,867
16,PHE,180,200,180,4,LEU,883
17,GLU,188,208,188,4,GLN,3229
18,TRP,194,214,194,4,ASP,3239
19,ASP,197,217,197,4,TYR,3243
20,ASP,201,221,201,4,ARG,3301
21,LYS,203,223,203,4,LYS,3304
22,ASP,220,239,220,5,MET,3306
23,HIS,231,250,231,5,ARG,3362
24,SER,233,252,233,5,SER,3364
25,ARG,234,253,234,5,ASN,3366
26,ASP,237,256,237,5,ARG,3372
27,GLU,239,258,239,5,LYS,3374
28,ASP,241,260,241,5,SER,3404
29,ARG,282,300,282,6,THR,3405
30,ASP,286,304,286,6,ARG,3406
31,LYS,293,311,293,6,LYS,3407
32,ALA,331,348,331,7,GLN,3408
33,GLN,332,349,332,7,ASN,3409
34,ARG,333,350,333,7,TYR,3410
35,ARG,391,406,391,9,MET,3411
36,ASN,413,428,413,9,MET,3412
37,VAL,415,430,415,9,ASN,3413
38,LEU,431,446,431,9,PHE,3414
39,ALA,461,475,461,10,ARG,3416
40,ASP,463,477,463,10,GLN,3417
41,SER,479,493,479,10,GLY,3419
42,VAL,480,494,480,10,LEU,3420
43,LYS,493,507,493,10,ARG,3421
44,ARG,494,508,494,10,TYR,3424
45,LYS,495,509,495,10,ASN,3425
46,ARG,499,513,499,10,ARG,3426
47,ARG,506,520,506,10,ARG,3427
48,TRP,523,536,523,11,ARG,3428
49,ASP,538,551,538,11,ARG,3429
50,TRP,549,562,549,11,ARG,3432
51,ASN,551,564,551,11,,
52,SER,568,580,568,12,,
53,GLU,590,602,590,12,,
54,ALA,594,606,594,12,,
55,HIS,595,607,595,12,,
56,PHE,597,609,597,12,,
57,ILE,611,623,611,13,,
58,ILE,612,624,612,13,,
59,ASN,613,625,613,13,,
60,GLU,614,626,614,13,,